.container {

    display: block;

}

//Conteúdo quadro 1

.quadro1 {

	width: 100%;
	height: 100vh;
    max-height: auto;
    padding: 5%;
	display: flex;
    align-items: center;
	justify-content: space-between;
	background-image: url(~src/assets/happy.svg);
	background-position: 50% 100%;
    background-size: 700px;

}

.campo-texto-q1 {

	width: 280px;
    min-width: 100px;
    max-width: 350px;

}

.texto-q1 {
    
    font-size: 29px;
    color: #FFFFFF;

}

.botao-acessar {

    width: 100%;
    height: auto;
    max-height: 48px;
    align-items: center;
    display: flex;
    padding: 7%;
    justify-content: space-between;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: #FFFFFF;

    &__text{

        font-weight: bold;
        font-size: 17px;
        color: #8C52E5;
    }
    
}


.form-cadastro {

	width: 100%;
    min-width: 100px;
    max-width: 350px;
    min-height: 100px;
    max-height: 460px;
	margin: 0 5% 0 5%;
    padding: 35px;
    border-radius: 8px;
    background-color: #FBFBFB;
}

.titulo-form {

    font-weight: bold;
    font-size: 19px;
    color: #1D1D1D;

}

input {
                
    width: 100%;
    height: auto;
    max-height: 20px;
    margin-bottom: 25px;
    background: #FBFBFB;
    border: none;
    border-bottom: 1px solid #878686;

}

::placeholder {

    font-size: 12px;
    color: #878686;

}

.botao-continuar {

    width: 100%;
    height: auto;
    max-height: 48px;
    padding: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: #D8D8D8;

    &__text {

        font-weight: bold;
        font-size: 17px;
        color: #9B9B9B;

    }

}



//Conteúdo quadro 2

.quadro2 {

	width: 100%;
	height: auto;
	min-height: 100px;
	max-height: auto;
	padding: 5%;
	display: flex;
	background-color: #EAEAEA;

}

.col1 {

	width: 50%;
	height: auto;
	min-width: 250px;
	padding: 5% 2% 5% 2%;
	justify-content: center;
	color: #68DE5A;
	background-color: #000000;

}

.col2 {

	width: 50%;
	height: auto;
	min-width: 250px;
	padding: 5%;
	justify-content: center;
	color: #1D1D1D;
	background-color: #F8F8F8;

}

.campo-titulo-q2 {

	width: 100%;
	max-width: 514px;
	max-height: 150px;
	margin: 0 auto;

}

.campo-img1-q2 {


	width: auto;
	max-width: 430px;
	min-width: 100px;
	padding: 0;
	margin: 0 auto;
	
}

.campo-img2-q2 {


	width: auto;
	max-width: 342px;
	min-width: 100px;
	margin: 0 auto;
	
}

.campo-texto-q2 {

	width: 100%;
	max-width: 280px;
	max-height: 150px;
	margin: 0 auto;
	
}

.titulo-q2 {

	font-weight: bold;
	font-size: min(30px, 5vw);
	text-align: center;
	
}

.texto-q2 {

	font-size: min(21px, 4vw);
	
}

.img-col1 {

	width: 100%;
	height: 100%;

}

.img-col2 {

	width: 100%;
	height: 100%;

}


//Conteúdo quadro 3

.quadro3 {

	width: 100%;
	height: 100vh;
	padding: 15%;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.campo-texto-q3 {

	width: auto;
	max-width: 30vw;
    min-width: 150px;
	color: #FFFFFF;
	
}

.titulo-q3 {

	font-weight: bold;
	font-size: min(42px, 7vw);
	margin: 0;

}

.texto-q3 {

	font-size: min(23px, 5vw);
	margin: 0;
	
}

.campo-zero {

	width: auto;
	max-width: 30vw;
    min-width: 150px;
	margin: 0;
	color: #68DE5A;
	
}

.zero {

	font-size: 13vw;
	font-weight: bold;
    text-align: center;
	margin: 0;
	
}

//Conteúdo quadro 4

.quadro4 {

	width: 100%;
	height: 100vh;
	padding: 150px;
    background-color: #68DE5A;
    background-image: url(~src/assets/galera.svg);

}

.campo-texto-q4 {

	width: 100%;
	max-width: 400px;
    min-width: 28vw;
	color: #FFFFFF;
	margin-top: 90px;

}

.titulo-q4 {

    font-weight: bold;
	font-size: min(38px, 5vw);

}

.texto-q4 {

	font-size: min(23px, 4vw);

}

//Conteúdo quadro 5

.quadro5 {

	width: 100%;
	height: 100vh;
	padding: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color: #EAEAEA;

}

.campo-texto-q5 {

	width: auto;
	max-width: 400px;
    min-width: 28vw;

}

.titulo-q5 {

    font-weight: bold;
	font-size: min(38px, 5vw);

}

.texto-q5 {

	font-size: min(14px, 3vw);

}

.campo-img-q5 {

    width: auto;
	max-width: 300px;
	margin-left: 5%;

}

.img-q5 {

    width: 100%;

}




//-------------- Conteúdo media querry---------------------//
//----------------------- 550px ---------------------------//

@media (max-width: 550px) {

//Conteúdo quadro 1

    .quadro1 {

        height: auto;
        padding: 10%;
        display: block;
        justify-content: center;
        background-origin: border-box;
        background-position: 50% 20%;
        background-size: 80vw;

    }

	.campo-texto-q1 {

        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
		margin: 0 auto;

	}

	.form-cadastro {

        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
		margin: 50px auto 0 auto;

	}
    
//Conteúdo quadro 2

    .quadro2 {

        display: block;
        
    }

    .col1 {

        width: auto;
        min-width: 100px;
        margin: 0 auto;
        
    }

    .col2 {

        width: auto;
        min-width: 100px;
        margin: 0 auto;
        
    }

    .campo-titulo-q2 {

        padding: 5%;
    
    }
    
    .campo-texto-q2 {
    
        padding: 10%;
        
    }
    

//Conteúdo quadro 3

    .quadro3 {

        display: block;
        padding: 10%;
        margin: 0 auto;
        
    }

    .campo-texto-q3 {

        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 40%;

    }

    .campo-zero {

        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 10px;

    }

    .titulo-q3 {

        text-align: center;
        
    }
    
    .texto-q3 {

        text-align: center;
        
    }
    
    .zero {

        font-size: min(186px, 30vw);
        text-align: center;

    }

//Conteúdo quadro 4

    .quadro4 {

        display: block;
        padding: 15%;
        background-size: cover;
        
    }

    .campo-texto-q4 {

        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 50%;

    }

//Conteúdo quadro 5

    .quadro5 {

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10%;
        
    }

    .campo-texto-q5 {

        width: 100%;
        max-width: 100%;
        margin: 0 auto;

    }

    .campo-img-q5 {

        width: auto;
        max-width: 200px;
        margin: 0 auto;

    }

}