<app-header></app-header>
<section class="container">
<!---->
  <div class="quadro1">
    <div class="campo-texto-q1">
      <p class="texto-q1">
        Gama Bank é um projeto de nossos alunos. <br><br>
        Já tem conta?
      </p>
      <a class="link" routerLink="../login">
        <button class="botao-acessar">
          <p class="botao-acessar__text">Acessar</p> 
          <img src="../../assets/seta-acessar.svg">
        </button>
      </a>
    </div>
    <div class="form-cadastro">
      <p class="titulo-form">Peça sua conta e cartão de crédito do Gama Bank</p>
      <input 
          inputmode="numeric" 
          name="cpf" 
          placeholder="Digite seu CPF" />
      <input 
          type="text" 
          name="login" 
          placeholder="Escolha um nome de usuário" />
      <input 
          type="text" 
          name="nome" 
          placeholder="Nome completo" />
      <input 
          type="password" 
          name="senha" 
          placeholder="Digite sua senha" />
      <input 
          type="password" 
          name="cSenha" 
          placeholder="Confirme sua senha" />
      <button type="submit" class="botao-continuar">
          <p class="botao-continuar__text">Continuar</p> 
          <img src="../../assets/seta-continuar.svg">
      </button>
    </div>
  </div>

  <div class="quadro2">
    <div class="col1">
      <div class="campo-titulo-q2">
        <p class="titulo-q2">Conta digital do Gama Academy</p>
      </div>
      <div class="campo-img1-q2">
        <img src="../../assets/app-bg1.svg" class="img-col1">
      </div>
      <div class="campo-texto-q2">
        <p class="texto-q2">Rende mais que a poupança, sem taxa de manutenção nem tarifas escondidas</p>
      </div>
    </div>
    <div class="col2">
      <div class="campo-titulo-q2">
        <p class="titulo-q2">Cartão de Crédito</p>
      </div>
      <div class="campo-img2-q2">
        <img src="../../assets/app-bg2.svg" class="img-col2">
      </div>
      <div class="campo-texto-q2">
        <p class="texto-q2">Rende mais que a poupança, sem taxa de manutenção nem tarifas escondidas</p>
      </div>
    </div>
  </div>

  <div class="quadro3">
    <div class="campo-texto-q3">
      <p class="titulo-q3">Zero anuidade</p><br>
      <p class="texto-q3">Burocracia custa caro. Somos eficientes para você não ter que pagar tarifas.</p>
    </div>
    <div class="campo-zero">
      <p class="zero">0,00</p>
    </div>
  </div>

  <div class="quadro4">
    <div class="campo-texto-q4">
      <p class="titulo-q4">O fim da complexidade</p>
      <p class="texto-q4">
        Para quem sabe que tecnologia e design são melhores do que agências e papelada
      </p>
    </div>
  </div>

  <div class="quadro5">
    <div class="campo-texto-q5">
      <p class="titulo-q5">Simplifique a sua vida. Peça seu convite.</p>
      <p class="texto-q5">
        GamaAcademy Bank Line S.A. - CNPJ 00.000.000/0000-00 <br><br>
        Rua Fictícia, 999 - 00000-000 - São Paulo, SP <br><br>
        Este é um projeto de avaliação | GamaAcademy | Accenture | 2021
      </p>
    </div>
    <div class="campo-img-q5">
      <img src="../../assets/pngkey1.svg" class="img-q5">
    </div>
  </div>
<!---->
</section>