<app-header></app-header>
<div class="container">

    <div class="warning">

        <div class="campo-img">
            <img class="imagem-erro" src="../../assets/warning.svg">
        </div>
        <div class="campo-texto">
            <p class="texto">
                Oops, algo deu errado! <br>
                Confime seus dados e tente novamente!
            </p>
        </div>
        <a class="link" routerLink="../home">
            <button type="submit" class="botao-voltar">
                <p class="botao-voltar__texto">Voltar</p>
                <img src="../../assets/arrow-left.svg">
            </button>
        </a>
    
    </div>

</div>
