<app-header></app-header>
<section>

<div class="container">

    <div class="form-login">

        <div class="campo-titulo">
            <p class="titulo">Esqueci a minha senha</p>
            <p class="texto">Confirme o seu CPF e confirme a sua senha</p>
        </div>
    
        <!--<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="formFields">-->
    
        <input 
            inputmode="numeric" 
            name="cpf" 
            placeholder="Confirme seu CPF" />
        <input 
            type="text" 
            name="login" 
            placeholder="Digite seu usuário"
        />
        <input 
            type="password" 
            name="senha" 
            placeholder="Digite sua senha"
        />
    
        <button type="submit" class="botao-continuar">
            <p class="botao-continuar__texto">Continuar</p>
            <img src="../../assets/arrow-right.svg">
        </button>
    
    </div>

</div>

</section>