* {

    outline: none;
    text-decoration: none;
    box-sizing: border-box;
	background-repeat: no-repeat;

}

body {

    margin: 0;
    background-color: #8C52E6;
    font-family: 'Roboto', sans-serif;

}